---
import { Image } from 'astro:assets'
import type { Category } from '@/interfaces'
import SectionTitle from '@/components/SectionTitle.astro'
import { getCategories } from '@/api'

const categories: Category[] = await getCategories()
---

<SectionTitle label='Categorie'/>
<ul class="grid grid-cols-[repeat(auto-fill,minmax(100px,1fr))] sm:grid-cols-[repeat(auto-fill,minmax(180px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(240px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(320px,1fr))] gap-3 md:gap-6">
  { categories.map((category) => (
    <li class="reveal-up-categories invisible group">
      <a href={`/spettacoli/categoria/${ category.slug }`} class="aspect-[4/3] flex items-center p-4 md:p-8 bg-black overflow-hidden relative rounded-lg">
        <h2 class="relative z-20 font-inria text-xl md:text-3xl">{ category.title }</h2>
        <Image width="410" height="302" loading="lazy" decoding="async" src={ category.image } alt={ category.title } class="absolute h-full w-full top-0 left-0 z-10 object-cover opacity-40 group-hover:scale-125 group-hover:opacity-20 transition-all duration-500" />
      </a>
    </li>
  ))}
</ul>

<script>
  import gsap from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'

	document.addEventListener("astro:page-load", () => {
		gsap.registerPlugin(ScrollTrigger)
		ScrollTrigger.batch(".reveal-up-categories", {
			onEnter: (batch) => {
				gsap.fromTo(
					batch,
					{ y: 100, autoAlpha: 0 },
					{
						duration: 1,
						y: 0,
						autoAlpha: 1,
						ease: "back",
						stagger: 0.16,
						overwrite: "auto",
					}
				);
			},
			start: "top 100%",
			end: "bottom 0%",
      once: true
		})
	})
</script>