---
import { Image } from 'astro:assets'
import type { Event } from '@/interfaces'
import { getEvents } from '@/api'
import SectionTitle from '@/components/SectionTitle.astro'
import EventDate from '@/components/EventDate.astro'
const events: Event[] = await getEvents()
---

<SectionTitle label='Prossimi Spettacoli'/>
<div class="swiper mySwiper">
  <ul class="swiper-wrapper pt-2">
    { events.map((event) => {

      return (
        <li class="swiper-slide reveal-up-events invisible">
          <a href={`/events/${event.slug}`} class="group">
            <div class="overflow-hidden rounded-lg group-hover:scale-[1.02] transition-all duration-300">
              {
                event.image ?
                <Image width="410" height="302" loading="lazy" decoding="async" src={ event.image } alt={ event.title } class="aspect-[4/3] w-full object-cover group-hover:scale-110 transition-all duration-500" />
                : ""
              }
            </div>
            <div class="py-1">
              <EventDate startDate={ event.startDate } />
            </div>
            <h2 class="relative z-20 font-semibold text-xl leading-tight mb-1">{ event.title }</h2>
            <div class="opacity-50 text-sm leading-tight">Artista: { event.direttore }</div>
          </a>
        </li>
      )
    })}
  </ul>
</div>

<style>
  @import 'swiper/css/bundle';
</style>

<script>
  import Swiper from 'swiper'
  import gsap from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  document.addEventListener("astro:page-load", () => {
    gsap.registerPlugin(ScrollTrigger)
    
    new Swiper(".mySwiper", {
      loop: false,
      pagination: { el: ".swiper-pagination", clickable: true },
      navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev" },
      spaceBetween: 48,
      slidesPerView: 1,
      breakpoints: {
        640: { slidesPerView: 2 },
        768: { slidesPerView: 3 },
        1024: { slidesPerView: 4 }
      }
    })

    ScrollTrigger.batch(".reveal-up-events", {
      onEnter: (batch) => {
        gsap.fromTo(
          batch,
          { y: 100, autoAlpha: 0 },
          {
            duration: 1,
            y: 0,
            autoAlpha: 1,
            ease: "back",
            stagger: 0.16,
            overwrite: "auto"
          }
        )
      },
      start: "top 100%",
      end: "bottom 0%",
      once: true
    })
  })
</script>
