<section class="mt-4 md:mt-8 py-8 md:py-16 bg-[rgba(0,0,0,0.4)]">
  <ul class="flex flex-col md:flex-row items-center justify-center gap-4 md:gap-16">
    <li><h3 class="font-inria text-xl uppercase leading-none">Sponsor:</h3></li>
    <li><img src="/images/sponsor/banca-popolare-di-novara.webp" alt="Banza Popolare Di Novara" class="max-w-[180px]"></li>
    <li><img src="/images/sponsor/color-box-center.webp" alt="Color Box Center" class="max-w-[180px]"></li>
  </ul>
</section>