---
import Layout from '@/layouts/Layout.astro'
import LayoutInterior from '@/layouts/LayoutInterior.astro'
import Title from '@/components/Title.astro'
import Container from '@/components/Container.astro'
---

<Layout title="Chi Siamo | Nessun Dorma">
  <LayoutInterior>
		<Container>
			<Title label='Chi Siamo'>
				<div></div>
		</Container>
	</LayoutInterior>
</Layout>