---
import Container from '@/components/Container.astro'
import Section from '@/components/Section.astro'
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
import Categories from '@/sections/home/Categories.astro'
import LatestEvents from '@/sections/home/LatestEvents.astro'
import Sponsor from '@/sections/home/Sponsor.astro'
---

<Layout title="Nessun Dorma">
	<Hero/>
	<Container>
		<Section>
			<Categories/>
		</Section>
		<Section>
			<LatestEvents/>
		</Section>
	</Container>
	<Sponsor/>
</Layout>