---
import Container from '@/components/Container.astro'
import Section from '@/components/Section.astro'
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
import Categories from '@/sections/home/Categories.astro'
import LatestEvents from '@/sections/home/LatestEvents.astro'
import Sponsor from '@/sections/home/Sponsor.astro'
---

<Layout title="Nessun Dorma - Teatro Civico di Oleggio" description='Il Teatro Civico di Oleggio, gestito dall’associazione Nessun Dorma, è un centro culturale e artistico che ospita una varietà di spettacoli teatrali e musicali, promuovendo eventi per il pubblico di tutte le età, inclusi i giovani con biglietti a prezzi agevolati. Situato in Via Roma a Oleggio, il teatro è anche sede del concorso pianistico internazionale, il "Piano Award Città di Oleggio". Offre una programmazione ricca e diversificata, con abbonamenti e vendite di biglietti accessibili anche online.'>
	<Hero/>
	<Container>
		<Section>
			<Categories/>
		</Section>
		<Section>
			<LatestEvents/>
		</Section>
	</Container>
	<Sponsor/>
</Layout>