---
interface Props {
  label: string
  href: string
}
const { label, href } = Astro.props
---

<a href={ href } target="_blank" class="group flex items-center gap-2 mt-4 bg-accent500 hover:bg-accent700 transition-all duration-300 rounded py-3 px-5 text-nowrap uppercase">
  { label }
  <i class="fi fi-rr-arrow-small-right"></i>
</a>
