---
const currentPath = Astro.url.pathname
import { Nav } from "./Nav"
import Search from "./Search"
import { menu } from '@/data'
---
<header class="header border-b border-b-[rgba(255,255,255,0.12)] fixed top-0 left-0 z-[999] px-4 md:px-8 flex items-center justify-between w-full transition-all duration-300">
  <a href="/" class="block py-4 max-w-48 md:max-w-full">
    <img src="/images/logo.svg" alt="Logo">
  </a>
  <nav class="hidden lg:block">
    <ul class="flex items-center gap-6 uppercase">
      { menu.map(( item ) => (
        <li>
          <a
            href={item.path}
            class={`block py-8 -mb-[1px] ${
              item.path === '/'
                ? currentPath === '/' && 'border-b-white border-b'
                : currentPath?.startsWith(item.path)
                ? 'border-b-white border-b'
                : 'border-b-transparent border-b'
            }`}
          >
            { item.label }
          </a>
        </li>
      ))}
    </ul>
  </nav>  
  <div class="flex items-center gap-1">
    <Search client:load/>
    <div class="block lg:hidden"><Nav pathName={ currentPath } client:load/></div>
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
  
    let scrollpos = window.scrollY
    const header = document.querySelector(".header") as HTMLElement

    const add_class_on_scroll = () => header.classList.add("onScroll")
    const remove_class_on_scroll = () => header.classList.remove("onScroll")

    window.addEventListener('scroll', function() { 
      scrollpos = window.scrollY;

      if (scrollpos >= 50) { add_class_on_scroll() }
      else { remove_class_on_scroll() }
    })
  })

</script>

<style>
  .onScroll {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
  }
</style>
