---
const currentPath = Astro.url.pathname
const menu = [
  {
    "label": "Home",
    "path": "/"
  },
  {
    "label": "Chi Siamo",
    "path": "/chi-siamo"
  },
  {
    "label": "Spettacoli",
    "path": "/spettacoli"
  },
  {
    "label": "Prezzi/Abbonamenti",
    "path": "/prezzi-abbonamenti"
  }
]

const isActive = ( path: string ) => currentPath === path || ( path === '/spettacoli' && currentPath.startsWith('/spettacoli'))
---
<header class="header border-b border-b-[rgba(255,255,255,0.12)] fixed top-0 left-0 z-[999] px-8 flex items-center justify-between w-full transition-all duration-300">
  <a href="/">
    <img src="/images/logo.svg" alt="Logo">
  </a>
  <nav>
    <ul class="flex items-center gap-6 uppercase">
      { menu.map(( item ) => (
        <li>
          <a href={ item.path } class={`block py-8 -mb-[1px] ${ isActive( item.path ) ? 'border-b-white border-b' : 'border-b-transparent border-b'}`}>
            { item.label }
          </a>
        </li>
      ))}
    </ul>
  </nav>
  <div>Cercare</div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
  
    let scrollpos = window.scrollY
    const header = document.querySelector(".header") as HTMLElement

    const add_class_on_scroll = () => header.classList.add("onScroll")
    const remove_class_on_scroll = () => header.classList.remove("onScroll")

    window.addEventListener('scroll', function() { 
      scrollpos = window.scrollY;

      if (scrollpos >= 50) { add_class_on_scroll() }
      else { remove_class_on_scroll() }
    })
  })

</script>

<style>
  .onScroll {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
  }
</style>
