---
import { ViewTransitions } from 'astro:transitions'
import Header from '@/components/Header.astro'
import "@fontsource-variable/inter"
import "@fontsource/inria-serif"
import Background from '@/components/Background.astro'
import Footer from '@/components/Footer.astro'

interface Props {
	title: string
	description?: string
	image?: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={ Astro.generator } />
		<meta name='robots' content='noindex, nofollow' />
		<title>{ title }</title>
		<meta property="og:title" content={ title }>
		<meta property="og:type" content="website">
		<meta property="og:image" content={ image || '/images/nessun-dorma.webp' }>
		<meta property="og:url" content="https://www.nessundormaoleggio.it/">
		<meta property="og:description" content={ description || 'Il Teatro Civico di Oleggio, gestito dall’associazione Nessun Dorma, è un centro culturale e artistico che ospita una varietà di spettacoli teatrali e musicali, promuovendo eventi per il pubblico di tutte le età, inclusi i giovani con biglietti a prezzi agevolati. Situato in Via Roma a Oleggio, il teatro è anche sede del concorso pianistico internazionale, il "Piano Award Città di Oleggio". Offre una programmazione ricca e diversificata, con abbonamenti e vendite di biglietti accessibili anche online.' }>
		<meta property="og:image:url" content={ image || '/images/nessun-dorma.webp' }>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:image:alt" content={ title }>
		<ViewTransitions />
	</head>
	<body id="smooth-wrapper">
		<Header/>
		<main class="z-20 relative pt-[85px]" id="smooth-content">
			<slot />
		</main>
		<Footer/>
		<Background/>
	</body>
</html>

<style is:global>
	:root {
		--background: #181616;
		--accent-50: #fbf4f8;
    --accent-100: #f9eaf3;
    --accent-200: #f5d5e8;
    --accent-300: #edb4d4;
    --accent-400: #e185b7;
    --accent-500: #d05092;
    --accent-600: #c1417d;
    --accent-700: #a63064;
    --accent-800: #8a2a53;
    --accent-900: #732848;
    --accent-950: #451227;
	}
	html {
		font-family: 'Inria Serif', serif;
		background: var(--background);
		color: #fff;
		overflow-x: hidden;
		scrollbar-width: none;
	}
	p{
		margin-bottom: 1em;
	}
</style>

<script>
  import gsap from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'

  document.addEventListener("astro:page-load", () => {
    gsap.registerPlugin(ScrollTrigger)

    ScrollTrigger.batch(".reveal-left", {
      onEnter: (batch) => {
        gsap.fromTo(
          batch,
          { x: -100, autoAlpha: 0 },
          {
            duration: 1,
            x: 0,
            autoAlpha: 1,
            ease: "back",
            stagger: 0.16,
            overwrite: "auto"
          }
        )
      },
      start: "top 100%",
      end: "bottom 0%",
      once: true
    })

		let revealContainers = document.querySelectorAll(".reveal")

		revealContainers.forEach((container) => {
			let image = container.querySelector("img")
			let tl = gsap.timeline({
				scrollTrigger: {
					trigger: container,
				}
			})

			tl.set(container, { autoAlpha: 1 })
			tl.from(container, {
				xPercent: -100,
				duration: 1.5,
				ease: "Power2.out"
			})
			tl.from(image, {
				xPercent: 100,
				scale: 1.5,
				duration: 1.5,
				autoAlpha: 0,
				delay: -1.5,
				ease: "Power2.out"
			})
		})
  })

</script>